<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-inapp-playstorereview" version="1.0.0">
  <name>InAppReview Plugin</name>
  <keywords>rating,inapp rating,review,inapp review, inappreview,playstorereview, playstore review, review, playstore, playstore rating, playstorerating</keywords>
  <js-module name="inAppReview" src="www/inAppReview.js">
    <clobbers target="inAppReview"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="inAppReview">
        <param name="android-package" value="com.swayangjit.review.InAppReviewPlugin"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/InAppReviewPlugin.java" target-dir="src/com/swayangjit/review"/>
    <preference default="1.8.0" name="PLAY_CORE_VERSION" />
    <framework src="com.google.android.play:core:$PLAY_CORE_VERSION" />
  </platform>
</plugin>
